:root{

    --color-principal: rgb(5, 61, 7);
    --color-secundario: rgba(205, 206, 205, 0.71);
    --color-titulos: rgb(108, 154, 108);
    --border-radius:10px;

}

*{
    margin: 0;  
    box-sizing: border-box;
    font-size: 1.1rem;

}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-secundario);
    line-height: 1.6;
    color: var(--color-principal);
}

header{
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid rgb(19, 63, 24);
    padding: 20px 60px;
    box-shadow: 0 0 5px;
    display: flex;
    align-items: center;        
    justify-content: center;
    gap: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


header h1{
    font-size: 2.4rem;
}

header p{
    font-size: 1.1rem;
    line-height: 1rem;
}

p{
    margin-bottom: 30px;
}

.menuNavegacion{
    padding-top: 120px;
    margin: 50px;
    font-size: 1.2rem;
}


section{
    padding: 60px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--color-principal);
    border-radius: var(--border-radius);
    margin: 20px;
}

h1,h2,h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-titulos);
    line-height:1.2;
}

h1{
    font-size: 2.7rem;
    text-transform: uppercase;
}

h2 { 
    font-size: 1.5rem; 
    margin-bottom: 30px;
}

h3 { 
    font-size: 1.2rem; 
    min-height: 3rem; /* si no las imagenes de las tarjetas se descolocan */
    margin-top: 25px;
}

.presentacion{
    margin-top: 20px;
}

a{
    color: rgb(3, 93, 228);
    text-decoration: none;

}

a:hover{
    color: blue;
}

.logo{
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid var(--color-principal);
    border-radius: var(--border-radius);
    transition: transform 0.3s ease;
    min-width: 80px;
}

.logo:hover{
    transform: scale(1.2);
    box-shadow: 0 0 2px var(--color-principal);
    outline: none;
}


.sobre-nosotros{
    margin-top: 40px;
}

.coleccion{
    margin-top: 40px;
}

.sobre-nosotros img,
.coleccion img{
    width: 60%;
}

.catalogo{
    border:none;
    background-color: transparent;
    display: flex; /*he intentado hacerlo todo con float pero se me descolocan las tarjetas todo el tiempo*/
    flex-wrap: wrap;/**/
    gap: 30px;
    flex: 1 1 calc(50%-30px);
}

.producto{
    background-color: white;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-principal);
    text-align: center;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    align-items: center; /*se coloca el boton en el cento*/
    box-shadow: 0 4px 6px rgb(168, 166, 166);
    overflow: hidden;
    min-width: 200px;
    max-width: calc(50% - 40px); 
    padding: 15px;
}

.producto figcaption{
    font-size: 1rem;
    flex: 1;

}

.producto figure{
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
}

.producto img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.producto:hover{
    border-color: var(--color-principal);
    margin-bottom: 40px;
    box-shadow: 0 0 5px;
    transform: scale(1.05);
}

.boton-producto{
background-color: var(--color-principal);
color: white;
max-width: 50%;

}

.boton-producto:hover{
background-color: rgb(21, 192, 21);
}

img{
    border-radius: var(--border-radius);
    max-width: 100%;
}

.precio{
    color: rgb(145, 18, 18);
    margin-bottom: 5px;
}


ul{
    margin-top: 30px;
    margin-bottom: 30px;
}

li{
    margin-top: 20px;
}

.contacto{
    margin-top: 40px;
    background-color: white;
    padding: 40px;
    margin: 40px;
}


fieldset{
    max-width: 100%;
    min-width: 0%;
    box-sizing: border-box;
}

legend{
    font-size: 1.3rem;
}


span{
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

input, select,
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-principal);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}

input:hover,
textarea:hover {
    border: 2px solid rgb(14, 136, 3);
}

input:focus,
textarea:focus {
    border-color: rgb(35, 211, 35);
    outline: none;
    box-shadow: 0px 0px 5px rgb(10, 172, 29);
}

select{
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: grey;
}

.default {
    color: black
}

select:hover{
    border: 2px solid rgb(14, 136, 3);
}

select:focus{
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        border-color: rgb(35, 211, 35);
        outline: none;
        box-shadow: 0px 0px 5px rgb(10, 172, 29);
}

button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease, transform 0.3s ease;
    border: 2px solid var(--color-principal);
    font-family: inherit;
    font-size: 1rem;
}

button:hover{
    transform: scale(1.05);
}

.enviar{
    margin-right: 20px;
    color: white;
    background-color: rgb(20, 109, 20);
}

.enviar:hover{
background-color: rgb(21, 192, 21);

}

.restablecer{
    color: white;
    background-color: rgb(120, 38, 20);
}

.restablecer:hover{
   background-color: rgb(198, 28, 13); 
}

footer{
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    border: 1px solid var(--color-principal);
    box-shadow: 0 0 5px;
}

@media (max-width: 768px) {

    header{
        padding: 10px 15px 5px 5px; 
        gap: 5px;
    }

    body{
        padding-top: 60px;
    }


   .logo {
      width: 100px;
   }

   .producto {
      max-width: 100%;
      padding: 15px;
   }
   

   section, .contacto{
    padding: 30px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
   }


   button{
      padding: 20px 16px;
      margin-right: 0;
   }
}
